.input {
  margin: 0;
  padding: 0;
}

.label {
  margin-bottom: 20px;
  color: #333;
}

.form {
  height: 60px;
  padding: 20px 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
